[package]
name = "ssh-agent-lib"
description = "A collection of types for writing custom SSH agents"
version = "0.4.0"
license = "MIT OR Apache-2.0"
authors = [
    "Wiktor Kwapisiewicz <wiktor@metacode.biz>",
    "Arthur Gautier <arthur.gautier@arista.com>",
    "James Spencer <github@jcspencer.net>"
]
repository = "https://github.com/wiktor-k/ssh-agent-lib"
edition = "2021"
rust-version = "1.75"
keywords = ["ssh", "agent", "authentication", "openssh", "async"]
categories = ["authentication", "cryptography", "encoding", "network-programming", "parsing"]
exclude = [".github"]

[workspace]
members = [".", "fuzz"]

[dependencies]
byteorder = "1.4.3"
async-trait = { version = "0.1.77", optional = true }
futures = { version = "0.3.30", optional = true }
log = { version = "0.4.6", optional = true }
tokio = { version = "1", optional = true, features = ["rt", "net", "time"] }
tokio-util = { version = "0.7.1", optional = true, features = ["codec"] }
service-binding = { version = "^2.1" }
ssh-encoding = { version = "0.2.0" }
ssh-key = { version = "0.6.6", features = ["crypto", "alloc"] }
thiserror = "1.0.58"
#uuid = { version = "1.8.0", features = ["v4"] }
subtle = { version = "2", default-features = false }
signature = { version = "2.2.0", features = ["alloc"] }
secrecy = "0.8.0"

[features]
default = ["agent"]
codec = ["tokio-util"]
agent = ["futures", "log", "tokio", "async-trait", "codec"]

[dev-dependencies]
env_logger = "0.11.0"
rand = "0.8.5"
rsa = { version = "0.9.6", features = ["sha2", "sha1"] }
tokio = { version = "1", features = ["macros", "rt-multi-thread", "sync"] }
sha1 = { version = "0.10.5", default-features = false, features = ["oid"] }
testresult = "0.4.0"
hex-literal = "0.4.1"
ssh-key = { version = "0.6.6", features = ["p256", "rsa"] }
p256 = { version = "0.13.2" }
const-str = "0.5.7"
rstest = "0.18.2"
openpgp-card = "0.4.2"
card-backend-pcsc = "0.5.0"
clap = { version = "4.5.4", features = ["derive"] }
secrecy = "0.8.0"
retainer = "0.3.0"
pgp = "0.12.0-alpha.2"
chrono = "0.4.38"
